<!-- Bloco superior: imagem à esquerda e informações à direita -->
<div class="layout-container">
    <mat-card class="home3 mat-elevation-z3 image-side">
      <div class="image-container">
        <img src="assets/img/image6.png" alt="Imagem de boas-vindas" class="imagem-grande">
      </div>
    </mat-card>
  
    <mat-card class="home1 mat-elevation-z3 content-side">
      <mat-card-title class="title">Bem-vindo!
      <mat-card-subtitle class="subtitle">
        Sistema moderno para cadastro e gerenciamento em padarias e panificadoras.
      </mat-card-subtitle>
    </mat-card-title>
  
      <section class="intro-text">
        <h3>O que você encontrará aqui:</h3>
        <ul>
          <li>Cadastro intuitivo de produtos e colaboradores</li>
          <li>Gestão eficiente de estoque e vendas</li>
          <li>Acompanhamento de fornecedores e afiliados</li>
          <li>Interface moderna e responsiva</li>
        </ul>
      </section>
    </mat-card>
  </div>
  
  <!-- Bloco inferior: proposta geral -->
  <mat-card class="home3 mat-elevation-z3 proposta-site">
    <h2 class="title">Nossa Proposta !</h2>
    <p>
      Este sistema foi desenvolvido com o objetivo de conectar panificadoras, padarias e fornecedores de forma colaborativa. 
      Acreditamos que a união e o compartilhamento de recursos pode alavancar novos negócios e fortalecer o mercado local. A 
      plataforma possibilita que novos padeiros e empreendedores do ramo possam encontrar apoio, inspiração e parcerias através
       de um ecossistema digital de colaboração.
    </p>
  </mat-card>

  <mat-card class="home3 mat-elevation-z3 proposta-site">
    <h2 class="title">O que é o Desktop do nosso Sistema?</h2>
    <p>
      O desktop do sistema representa a interface principal de trabalho utilizada em computadores de balcão, administrativos ou caixas das padarias e panificadoras.
      É por meio dessa área que os usuários acessam as funcionalidades essenciais para o gerenciamento diário do negócio. Este desktop foi projetado para ser intuitivo,
      leve e eficiente, garantindo produtividade para quem trabalha no dia a dia das padarias — desde o atendimento no balcão até o controle administrativo. Ele é parte
      de uma plataforma colaborativa maior, que conecta padarias, fornecedores e novos empreendedores em um ecossistema digital de crescimento coletivo.
    </p>
  </mat-card>
  