<!-- Bloco superior: imagem à esquerda e informações à direita -->
<header class="cabecalho-branco"></header>

<main class="conteudo">
  <!-- Conteúdo da página -->
</main>

<div class="layout-container">
    <mat-card class="home3 mat-elevation-z3 image-side">
      <div class="image-container">
        <img src="assets/img/image6.png" alt="Imagem de boas-vindas" class="imagem-grande">
      </div>
    </mat-card>
  
    <mat-card class="home1 mat-elevation-z3 content-side">
      <mat-card-title class="title">Bem-vindo!
      <mat-card-subtitle class="subtitle">
        Sistema moderno para cadastro e gerenciamento em padarias e panificadoras.
      </mat-card-subtitle>
    </mat-card-title>
  
      <section class="intro-text">
        <h3>O que você encontrará aqui:</h3>
        <ul>
          <li>Cadastro intuitivo de produtos e colaboradores</li>
          <li>Gestão eficiente de estoque e vendas</li>
          <li>Acompanhamento de fornecedores e afiliados</li>
          <li>Interface moderna e responsiva</li>
        </ul>
      </section>
    </mat-card>
  </div>
  
  <!-- Bloco inferior: proposta geral -->
  <mat-card class="home3 mat-elevation-z3 proposta-site">
    <h2 class="title">Nossa Proposta !</h2>
    <p>
      Este sistema foi desenvolvido com o objetivo de conectar panificadoras, padarias e fornecedores de forma colaborativa. 
      Acreditamos que a união e o compartilhamento de recursos pode alavancar novos negócios e fortalecer o mercado local. A 
      plataforma possibilita que novos padeiros e empreendedores do ramo possam encontrar apoio, inspiração e parcerias através
       de um ecossistema digital de colaboração.
    </p>
    <h2 class="title">O que é o Desktop do nosso Sistema?</h2>
    <p>
      O desktop do sistema representa a interface principal de trabalho utilizada em computadores de balcão, administrativos ou caixas das padarias e panificadoras.
      É por meio dessa área que os usuários acessam as funcionalidades essenciais para o gerenciamento diário do negócio. Este desktop foi projetado para ser intuitivo,
      leve e eficiente, garantindo produtividade para quem trabalha no dia a dia das padarias — desde o atendimento no balcão até o controle administrativo. Ele é parte
      de uma plataforma colaborativa maior, que conecta padarias, fornecedores e novos empreendedores em um ecossistema digital de crescimento coletivo.
    </p>
  </mat-card>

  <mat-card class="home3 mat-elevation-z3 proposta-localiza">
    <h1 class="title"> Localização !</h1>
    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1127.2068584955489!2d-51.16020633037877!3d-23.30425826699252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94eb43607668842f%3A0x5386508dbb20b0b4!2sSENAI%20-%20Londrina!5e1!3m2!1spt-BR!2sbr!4v1749665558307!5m2!1spt-BR!2sbr"
        width="100%" 
        height="350" 
        style="border:0; border-radius: 15px;
        border: 3px solid #420ed1;
        box-shadow: 0 0 2px #420ed1, 0 0 4px #420ed1 inset;
        color: white;" 
        allowfullscreen="" 
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
      
    </div>
  </mat-card>
  <header class="cabecalho-branco"></header>

<main class="conteudo">
  <!-- Conteúdo da página -->
</main>
  
  