<header class="cabecalho-branco"></header>

<main class="conteudo">
  <!-- Conteúdo da página -->
</main>
<mat-card class="fundo1">
    <div style="display:flex; justify-content:flex-inicial">
    <mat-card-title class="Nome">Novo Fornecedor</mat-card-title>
</div>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="fornecedor.forNomeFantasia" name="forNomeFantasia">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CNPJ" [(ngModel)]="fornecedor.forCnpj" name="forCnpj">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Razão Social" [(ngModel)]="fornecedor.forRazaoSocial" name="forRazaoSocial">
        </mat-form-field>
    </form>

    <div style="gap: 10px; display:flex; justify-content:flex-end">
    <button mat-raised-button (click)="createFornecedor()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</div>

</mat-card>