<header class="cabecalho-branco"></header>

<main class="conteudo">
  <!-- Conteúdo da página -->
</main>



<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="fazerLogin()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="senha">Senha:</label>
      <input type="password" id="senha" [(ngModel)]="senha" name="senha" required>
    </div>
    <div *ngIf="erro" class="error-message">{{erro}}</div>
    
    <p class="cadastro-link">
    Não tem conta? <a routerLink="/cadastro">Cadastre-se aqui</a>
  </p>

    <button type="submit" [disabled]="carregando">
      {{ carregando ? 'Carregando...' : 'Entrar' }}
    </button>
  </form>
</div>