
<mat-toolbar class="header" met-elevation-z4>
    <span class="title-group2">
        <a href="https://novo.sistemafiep.org.br/">
            <img class="logo" src="assets/img/logo-senai.png" alt="logo SENAI">
        </a>
        
    </span>
    <span class="title-group">
        <a mat-list-item routerLink="/inicial">
            <i class="material-icons">
                dashboard
            </i>
            Tela Inicial
        </a>
    </span>
    <span class="title-group3">
    
        <a>
            <img class="logo" class="logo azul-escuro" src="assets/img/LoveCity.png" alt="logo2">
        </a>
    </span>
</mat-toolbar>
