
.header {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #030e2b, #66a6ff); /* Exemplo: azul claro para azul médio */
}


.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 35px;
}
.header .title-group2{
    padding-left: 25px;
}
.header .title-group{
    padding-left: 55px;
}

.header .title-group i {
    padding-right: 5px;

    
}
p{
    color: pink;
}