<mat-card class="fundo1">
    <mat-card-title>Registra Pagamento</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="pagamento.fpgNome" name="fpgNome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="pagamento.fpgPrice" name="fpgPrice">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descrição" [(ngModel)]="pagamento.fpgDescricao" name="fpgDescricao">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Status Ativo" [(ngModel)]="pagamento.ativo" name="ativo">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Está Permitido Parcelamento" [(ngModel)]="pagamento.permiteParcelamento" name="permiteParcelamento">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Número Máximo Parcelas" [(ngModel)]="pagamento.numeroMaximoParcelas" name="numeroMaximoParcelas">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Taxa Adicional" [(ngModel)]="pagamento.taxaAdicional" name="taxaAdicional">
        </mat-form-field>
    </form>

    <div style="gap: 10px;">
    <button mat-raised-button (click)="createPagamento()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</div>

</mat-card>