<header class="cabecalho-branco"></header>

<main class="conteudo">
  <!-- Conteúdo da página -->
</main>
<mat-card class="fundo1">    
    <div style="display:flex; justify-content:flex-inicial">
    <mat-card-title class="Nome">Registra Pagamento</mat-card-title>
</div>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="pagamento.fpgNome" name="fpgNome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="pagamento.fpgPrice" name="fpgPrice">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descrição" [(ngModel)]="pagamento.fpgDescricao" name="fpgDescricao">
        </mat-form-field>

 <mat-form-field>
        <mat-label>Pagamento Ativo?</mat-label>
        <mat-select [(ngModel)]="pagamento.ativo" name="ativo" required>
            <mat-option [value]="true">Ativo</mat-option>
            <mat-option [value]="false">Inativo</mat-option>
        </mat-select>
      </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Está Permitido Parcelamento" [(ngModel)]="pagamento.permiteParcelamento" name="permiteParcelamento">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Número Máximo Parcelas" [(ngModel)]="pagamento.numeroMaximoParcelas" name="numeroMaximoParcelas">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Taxa Adicional" [(ngModel)]="pagamento.taxaAdicional" name="taxaAdicional">
        </mat-form-field>
    </form>

    <div style="gap: 10px; display:flex; justify-content:flex-end">
    <button mat-raised-button (click)="createPagamento()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</div>

</mat-card>