/*.sidenav{
    background-color: #3F51B5;
    width: 200px;
} */
.sidenav {
    background: linear-gradient(to bottom, #3F51B5, #2e3b86, #1e2a6e); 
    width: 200px;
}

.sidenav a{
    color: #fff;
}
.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: #fff;
}
/*.imagem-grande {
    width: 100%;
    max-width: 1000px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
  }

  
.image-container {
    text-align: center;
    margin-bottom: 16px;
  }
  */
  