.container {
  height: 100vh;
}

.sidenav {
  background: linear-gradient(to bottom, #07103f, #060a20, #01030e);
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav-list a {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  text-decoration: none;
}

.nav-list a:hover {
  background-color: rgba(81, 121, 207, 0.668);
}

.anima {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  width: 0;
  transition: all 0.2s ease;
}

.anima:hover {
  color: rgb(16, 24, 44);
}

.content {
  padding: 16px;
  background-color: #d8edff;
}
.container {
  height: 100vh;
}

.sidenav {
  width: 60px;
  transition: width 0.3s ease;
  overflow-x: hidden;
}

.sidenav.expandido {
  width: 240px;
}

mat-nav-list {
  padding: 0;
}

mat-list-item {
  display: flex;
  align-items: center;
  padding: 12px;
  color: #fffdfd;
}

.material-icons {
  margin-right: 16px;
  font-size: 24px;
  width: 24px;
  text-align: center;
  color: #ffffffd9;
  
}
/*.material-icons:hover {
  color: rgb(16, 24, 44);
}


 Quando o menu está expandido, mostrar texto */
.sidenav.expandido .anima {
  opacity: 1;
  width: auto;
}
