<mat-card class="fundo1">
    <mat-card-title>Excluir Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [value]="product.proNome" name="proNome" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço de custo(R$)" [value]="product.proPrecoCusto" name="proPrecoCusto" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço de venda (R$)" [value]="product.proPrecoVenda" name="proPrecoVenda" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="product.quantidadeEstoque" name="quantidadeEstoque" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Categoria" [(ngModel)]="product.categoria" name="categoria" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Código de Barras" [(ngModel)]="product.codigoBarras" name="codigoBarras" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Marca" [(ngModel)]="product.marca" name="marca" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Unidade de Medida" [(ngModel)]="product.unidadeMedida" name="unidadeMedida" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Ativo" [(ngModel)]="product.ativo" name="ativo" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data de Cadastro" [(ngModel)]="product.dataCadastro" name="dataCadastro" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data de Atualização" [(ngModel)]="product.dataAtualizacao" name="dataAtualizacao" disabled>
        </mat-form-field>
    </form>

    <div style="gap: 10px;">
    <button mat-raised-button (click)="deleteProduct()" color="warn">
        Excluir
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</div>

</mat-card>